{%extends 'election/base.html' %}

{% block title%}About{%endblock%}

{% block content %}
<div class="card mb-3" style="background-color: #d6d8e0;border: none;">
    <h1 class="card-title">
        About Us
    </h1>
    <p class="card-body">This is a online voting platform for college</p>
</div>
<div class="card mb-3" style="background-color: #d6d8e0;border: none;">
    <h1 class="card-title">
        Contacts
    </h1>
    <p class="card-body">Email:votingsystem7@gmail.com</p>
</div>
{%endblock%}