{% extends "election/base.html" %}

{% block title %}College Voting System{% endblock %}

{% block content %}
  {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success" role="alert">
      {{ message }}
    </div>
    {% endfor %}
  {% endif %}  

  <h1>Hi, {{request.user.get_full_name }}<br>
  Welcome to College Voting System</h1>
  <hr>
  <h4 style="margin: 10px;padding: 20px;">
  Total Voters:{{voters}}<br>
  Total Position:{{positions}}<br>
  Total Candidate:{{candidates}}<br>
</h4>
</div> 
{% endblock %}
