{% if user.is_authenticated %}
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="font-size: large;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
     aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span></button>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
              <a class="nav-link" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{% url 'position'%}">Vote</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'result' %}">Result</a>
          </li>
          
      {%if perms.enroll%}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'voters' %}">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'add_email' %}">Add Email</a>
        </li>
      {%endif%}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'post_list' %}">Notice</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'about' %}">About us</a>
        </li>

      </ul>
      </div>

        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
          <a class="nav-link" href="{% url 'profile' %}">Profile
            <i class="fas fa-user"></i>
          </a>
        </li>
        <li class="nav-item ml-auto">
          <a class="nav-link" href="{% url 'logout' %}">Logout
            <i class="fas fa-sign-out-alt"></i>
          </a>
        </li>
        </ul>

        {%else%}
        <div style="font-size:xx-large;font-family: Algerian;text-align: center;margin: 20px;">
        <b>College Voting System</b>
      </div>
      {% endif %}
    </div>
</nav>