{% extends 'blog/base.html' %}
{% block contents %}
{% if posts %}
    {%for post in posts%}
    <div class="post">
        <div class="card mb-3">
        <div class="card-body">     
        <h2 class="card-title"><a href="{%url 'post_detail' pk=post.pk%}">{{post.title}}</a></h1>
        <p class="card-text text-muted h6">created:{{post.created_date|date:'d-m-y'}}</p>
        <p class="card-text">{{post.text|truncatechars:200}}</p>
        </div>
        </div>
    </div>
{% endfor %}
{% else %}
    <p>No post in drafts to be publish</p>
{%endif%}
{% endblock contents %}